// Bootstrap
@import "~bootstrap/scss/bootstrap";
// Start bootstrap theme
@import "~startbootstrap-agency/scss/variables";
// Override primary colour
$theme-primary: #ba365d;
// Mixins
@import "~startbootstrap-agency/scss/mixins";
// Override heading font
@mixin heading-font {
  font-family: 'Kollektif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
// Global CSS
@import "~startbootstrap-agency/scss/global";
// Components
@import "~startbootstrap-agency/scss/navbar";
@import "~startbootstrap-agency/scss/masthead";
@import "~startbootstrap-agency/scss/services";
@import "~startbootstrap-agency/scss/portfolio";
@import "~startbootstrap-agency/scss/timeline";
@import "~startbootstrap-agency/scss/team";
@import "~startbootstrap-agency/scss/contact";
@import "~startbootstrap-agency/scss/footer";
// Bootstrap Overrides
@import "~startbootstrap-agency/scss/bootstrap-overrides";

@font-face {
  font-family: 'Kollektif';
  src: url("~/assets/Kollektif-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: 'Kollektif';
  src: url("~/assets/Kollektif.ttf");
  font-weight: 400;
}
.navbar-brand img {
  height: 40px;
}

header.masthead {
  background-image: url("~/assets/backgrounds/mountain-silhouette.jpg");
  font-family: 'Kollektif';
}

header.masthead h2 {
  font-family: 'Josefin Sans';
}

header.masthead .intro-text .intro-heading {
  margin-bottom: 0;
  font-family: 'Kollektif';
  text-transform: none;
}

header.masthead .intro-text .intro-heading img {
  max-width: 500px;
}
header.masthead .intro-text .intro-presented img {
  max-width: 200px;
}
header.masthead.banner {
  background: #1a1c26;
}
header.masthead.banner .intro-text {
  padding-top: 20px;
  padding-bottom: 20px;
}

button, .btn, #mainNav .navbar-toggler {
  background: linear-gradient(135deg, #ba365d, #3d3356);
  font-family: 'Josefin Sans';
  border: none;
  color: white;
}
.btn:not(:disabled):not(.disabled).btn-xl:active, .btn:not(:disabled):not(.disabled).btn.btn-xl:hover, .btn:not(:disabled):not(.disabled).btn.btn-xl:active:hover, .btn:not(:disabled):not(.disabled):active, .btn:not(:disabled):not(.disabled).btn:hover, .btn:not(:disabled):not(.disabled).btn:active:hover {
  background: linear-gradient(85deg, #ba365d, #3d3356);
  color: white;
}
h3, h4 {
  text-transform: none;
}
::selection {
  color: white;
}
.portfolio-caption p {
  font-family: 'Kollektif';
  margin-bottom: 0;
}
.portfolio-link img {
  margin-bottom: 10px;
}

#mc_embed_signup .button {
  background: linear-gradient(135deg, #ba365d, #3d3356);
}
#mc_embed_signup input.email {
  font-family: 'Kollektif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}